body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .logo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-size: 3rem; 
        font-weight: 800; 
        background: linear-gradient(90deg, #DEDEDE, #B5B5B5); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        text-transform: uppercase; 
        letter-spacing: 3px; 
        text-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
}

.main_film_container {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #242424;
    width: auto;
}

.poster_img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.film_wrap_container {
    border-radius: 10px;
    overflow: hidden;
}

.film_container {
    display: flex;
    background-color: #333;
    border-bottom: 1px solid gray;
    padding: 20px;
    color: white;
}

.info_contsiner {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.film_name {
    font-size: 24px;
}


.trailer_link {
    width: 85px;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.trailer_container {
    margin-top: 20px;
    padding: 40px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.edit_bnts {
    margin-top: 185px;
    a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
}

.error_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    color: #f00;
    font-family: Arial, sans-serif;
    gap: 20px;
}

.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.error {
    font-size: 5rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}


.valid_error_message {
    color: red;
    font-size: 14px;
    font-weight: bold;

    opacity: 0;
    transform: translateY(10px);
    animation: fadeInAnimation 0.8s ease-out forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}